
{{> layouts/header}}
<form action="/articles/posts" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">title</label>
        <input type="title" class="form-control" id="exampleFormControlInput1" placeholder="제목">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">contents</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit">Submit</button>
    <a href="/articles">back</a>
</form>


{{> layouts/footer}}